body {
    background-color: #e9e9e9;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

h1 { font-size: 28px; }
h2 { font-size: 24px; }
h3 { font-size: 20px; }
h4 { font-size: 16px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }

#compatibility {
    display: none;
    font-family: 'Replica-Regular', Arial, sans-serif;
    width: 500px;
    background-color: #fadc00;
    margin: auto;
    color: #000;
    border-right: 1px solid #c0c0c0;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 1.1em;
}

#compatibility p {
    padding-left: 40px;
    padding-right: 40px;
}

#compatibility p strong {
    font-family: 'Replica-Bold', Arial, sans-serif;
    background-color: #fadc00;
    font-size: 1.55em;
    line-height: 1.3em;
}

#container {
    width: 500px;
    background-color: #fff;
    margin: auto;
    padding: 80px 0 120px 0;
    color: #333;
    border-radius: 0 0 0.5em 0.5em;
    border-right: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
}

#container a {
    color: #2d78af;
    text-decoration: none;
}

#container a:hover {
    text-decoration: underline;
}

#container a.btn {
    color: #fff;
    text-decoration: none;
}

#container a.btn:hover {
    text-decoration: none;
}

#container > * {
    width: 320px;
    margin: auto;
}

#casEnvMsg {
    text-transform: uppercase;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    padding: 5px;
    background-color: #ff0000;
    text-align: center;
}

#content {
    margin-top: 38px;
}

#login .input-group-addon {
    padding: 0 3px 0 10px;
    font-size: 12px;
}

.form-control {
    border-radius: 0;
}

.form-control::placeholder {
    color: #767676;
}

.login-form {
    background-color: #f1f1f1;
    padding: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.login-form section {
    margin-bottom: 10px;
}

.login-form section:last-child {
    margin-bottom: 0;
}

.login-form .formLabel {
    position: absolute !important; 
    clip: rect(1px, 1px, 1px, 1px); 
}

.login-form #token {
    width: 120px;
}

.login-form #security-key-image-container {
    text-align: center;
}

.login-form.u2f input {
    margin-top: 10px;
}

.mfa-token #otv-hint,
.remember-me span,
.remember-me #trusted-device-hint {
    font-size: 0.9em;
}

i.fas.fa-question-circle {
    color: #004c9b;
}

.btn.btn-link {
    color: #2d78af;
    font-size: 12px;
    font-weight: normal;
    text-align: left;
    vertical-align: baseline;
    white-space: normal;
    border: none;
}

.btn.btn-submit {
    background-color: #004c9b;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    padding: 8px 27px;
    text-decoration: none;
    border: none;
    border-radius: 0;
    cursor: pointer;
}

.login-bottom {
    font-size: 12px;
    margin-top: 20px;
}

.login-bottom ul {
    margin-left: 0;
    padding-left: 22px;
}

.login-bottom ul li {
    list-style-type: square;
    padding-top: 6px;
}

#footer-message {
    font-size: 11px;
    color: #767676;
    padding-left: 32px;
    margin-top: 30px;
    background: #fff url("../images/icon-alert.png") no-repeat left 10px;
}

#footer-message div {
    padding-left: 10px;
    border-left: 1px solid #dedede;
}

#password-management-form #password-expired p:last-child {
    margin-bottom: 0;
}

#password-management-form #password-expired #password-expiration-details {
    font-weight: normal;
    font-size: 0.9em;
    padding: 0px 10px;
    color: rgb(0, 0, 0);
}

#password-management-form #password-requirements {
    font-size: .85em;
    color: #444;
    padding: 0 10px;
}

#password-management-form #password-requirements ul {
    padding-left: 17px;
}

#password-management-form #password-requirements ul li {
    margin: 5px 0;
}

.errors h2, .success h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 18px 0 0;
    padding: 0;
}
.success h2 {
    color:#008 !important;
}
.info form, .errors form, .success form {
    margin-bottom:10px;
    margin-top:40px;
}
.errors h2 {
    color:#b00 !important;
}
.success h2 {
    color:#060 !important;
}

div.alert.alert-danger {
    color: #d21033;
    background-color: #fed;
    border-color: #d21033;
}

div.alert.alert-info {
    color: #008;
    background-color: #eff;
    border-color: #008;
}

div.alert.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #8a6d3b;
}

div.alert.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #3c763d;
}

@media (max-width: 500px) {

    #container {
        width: 100%;
        padding: 20px;
        border-radius: 0;
        border-right: 0;
        border-bottom: 0;
    }

}

@media (max-width: 360px) {

    #container > * {
        width: 100%;
    }

}
